.menu-button > .arrow-button {
  -fx-padding: 0;
  -fx-background-color: transparent;
}

.menu-button > .arrow-button > .arrow {
  -fx-padding: 0;
}

#messageInput {
  -fx-background-color: white, white;
  -fx-background-insets: 0, 0;
  -fx-background-radius: 4, 3;
  -fx-border-color: lightgrey;
  -fx-border-width: 1;
  -fx-border-radius: 4;
  -fx-padding: 12 15 12 15;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

#messageInput .content {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-border-width: 0;
}

#messageInput:focused {
  -fx-border-color: #409eff;
}

#messageInput:focused .content {
  -fx-background-color: transparent;
}
